.small-card-container {
  width: 700px;
  margin-bottom: 15px;
}

.small-card-container-content {
  display: flex;
  flex-direction: row;
}

.small-card-photo > img{
  width: 200px;
  min-width: 200px;
  margin-right: 15px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;

}

.separator{
  margin-top: 15px;
}
