

<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="main-article">
    <app-big-card
    Id="1"
    cardTitle="Saiu a nova versão do angular"
    cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, ea velit! Nostrum voluptas dicta hic deleniti temporibus rem unde, quasi eveniet alias veniam vero cupiditate veritatis laborum corrupti ad dolorem!"
    photoCover="https://www.infragistics.com/community/cfs-file/__key/communityserver-blogs-components-weblogfiles/00-00-00-09-43/dev_2D00_tools_2D00_ignite_2D00_ui_2D00_angular_2D00_shield_2D00_5.jpg"></app-big-card>
  </div>
  <div class="other-articles">
    <app-small-card
    Id="2"
    cardTitle="GTA VI confirmado em 2025"
    photoCover="https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/71d4d17edcd49703a5ea446cc0e588e6.jpg"
    ></app-small-card>
    <app-small-card
    Id="3"
    cardTitle="Red dead redemption em pre-venda"
    photoCover="https://store-images.s-microsoft.com/image/apps.26419.71534445913389778.3217f3df-0d90-489b-8f2f-90d018aded6a.9821d242-8c8c-4fd3-95ef-1ea45f500a1c?q=90&w=480&h=270"
    ></app-small-card>
    <app-small-card
    Id="4"
    cardTitle="doom eternal Gratuito no prime"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOOlcL_4_o6OYtUllKF5ojmA6XWYpIqIdyJA&s"
    ></app-small-card>
  </div>
</div>


